meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Clasificación de defectos e informes de calidad 
meta(meta name="description" content="Comprender la clasificación de defectos, tablas militares, informes de calidad, indicadores de calidad, técnicas de calidad, 7 herramientas de calidad, histograma, Pareto, diagrama causa efectos, estratificación, diagrama de correlación, diagrama de control, acciones de calidad. Identificar los indicadores de calidad, realizar cálculo de indicadores. Realizar plan de muestreo por aceptación, usando tablas militares. Comprender procedimiento de herramientas básicas de control de calidad. Desarrollar hojas de verificación, diagrama de Pareto, Histograma, dispersión, causa-efectos, estratificación y de control. Análisis de resultados, Desarrollar planes de calidad. Desarrollar acciones correctivas y de mejora.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")