.container
    .header-ecored
        h1 Introducción
    .jumbotron.bg-white 
        .row.my-5
            .col
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/HBgyl2vrLxw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    .card-body.mt-0
                        strong Recurso (video o texto con imágenes)  introductorio del CF desarrollar de acuerdo al estándar para los CF | 
                        |  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex iure ad fugiat laudantium eum libero? 
        img.img-a(src="assets/images/pages/ilustraciones/img1.jpg", alt="").img-fluid
        .caja-amarillo
            p Una vez se conoce cuáles son los defectos es importante clasificar los niveles para las actividades de inspección y determinar las diferentes acciones a definir para mejorar o mantener la calidad de la producción de las prendas. Los resultados de las inspecciones se deben presentar en informes donde se logren visualizar y calcular indicadores que permitan medir los resultados.
            p Las siete herramientas de calidad son las técnicas básicas usadas en el control de calidad, su propósito es analizar, medir y controlar, conforme a las fases de Seis sigma; permiten conocer las causas de los defectos y así establecer acciones correctivas y de mejora de la calidad. Estas herramientas mediante el uso de tablas y diagramas permiten observar de manera concreta los problemas presentados, con los datos recolectados.
