.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

                tr
                    td Gutiérrez, S. (2020). Instructivo para desarrollar diagrama de Pareto.
                    td 
                    td 
                        a(href="https", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td Gutiérrez, S. (2020). Plantilla Pareto.
                    td 
                    td 
                        a(href="https", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td Gutiérrez, S. (2020). Instructivo para desarrollar Histograma. 
                    td 
                    td 
                        a(href="https", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td Gutiérrez, S. (2020). Plantilla Histograma.
                    td 
                    td 
                        a(href="https", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td Gutiérrez, S. (2020). Niveles de defectos. 
                    td 
                    td 
                        a(href="https", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td 
                    td 
                    td 
                        a(href="https", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td 
                    td 
                    td 
                        a(href="https", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td 
                    td 
                    td 
                        a(href="https", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td 
                    td 
                    td 
                        a(href="https", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td 
                    td 
                    td 
                        a(href="https", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td 
                    td 
                    td 
                        a(href="https", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td 
                    td 
                    td 
                        a(href="https", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar